:root {
    --primary-color: #0C732E;
    --secunday-color: #0909e5;
    --tertiary-color: #b7ef00;
    --white-color: #FFFFFF;
    --light-gray-color: #a1a1a1;
    --black-color: #000000;
    --gap: 3rem;
}